.header-especialidades {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.header-lista {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.header-lista a{
    text-decoration: none;
    font-size: 22px;
    border-bottom: 3px solid #cdcdcd;
}

.header-especialidades h1 {
    font-size: 30px;
}


@media (max-width: 768px) {

    .header-lista {
        align-items: center;
        justify-content: center;
    }

    .header-lista a{
        font-size: 18px;

    }

    .header-especialidades h1 {
        font-size: 24px;
        text-align: center;

    }

}


