@import url(/styles/home.css);
@import url(/styles/rodape.css);
@import url(/styles/conteudo/sobre.css);
@import url(/styles/conteudo/multiespecialidades.css);
@import url(/styles/especialidades/especialista.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    color: #0000008c;
}

strong {
    font-weight: bold;
}

/*
#00cad1

#0c6e71

#f1f1f1
#cdcdcd