.multiespecialidades-container {
    max-width: 1024px;
    margin: 20px auto;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
}

.multiespecialidades-info {
    width: 70%;
    margin: 20px auto;
    text-align: center;
}

.multiespecialidades-info h3 {
    font-size: 22px;
    margin-bottom: 20px;
}

.multiespecialidades-info p {
    font-size: 20px;
}

.multiespecialidades-imagens {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;

}

.multiespecialidades-imagens figure {
    box-shadow: 0px 0px 10px black ;
    border-radius: 5px;
    margin: 0;
}

.multiespecialidades-imagens figure img{
    max-width: 300px;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
}

.multiespecialidades-imagens figcaption {
    z-index: 1;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    text-transform: uppercase;
    font-size: 16px;
}

.multiespecialidades-container a {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin: 30px auto;
    text-decoration: none;
    background-color: #00cad1;
    color: white;
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.multiespecialidades-container a:hover {
    color: black;
    transition: 1s;
}

@media (max-width: 1024px) {

    .multiespecialidades-container {
        padding: 25px;
    }

    .multiespecialidades-imagens {
        display: flex;
        justify-content: space-around;
    }

    .multiespecialidades-imagens figure {
        max-width: 300px;
        gap: 20px;
        
    }
}

@media (max-width: 768px) {
   .multiespecialidades-container {
        padding: 25px;
    }
    
    .multiespecialidades-info {
        width: 100%;
    }

    .multiespecialidades-imagens {
        flex-wrap: wrap;
        justify-content: center;
    }



}

@media (max-width: 425px) {



    .multiespecialidades-info h3 {
        font-size: 20px;
    }

    .multiespecialidades-info p {
        font-size: 16px;
    }

    .multiespecialidades-imagens {
        flex-direction: column;

    }

    .multiespecialidades-imagens figure img {
        width: 100%;

    }
}