.home-container {
    width: 100%;
    background-color: #00cad1;
}

.home {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-logo{
    width: 150px;
}

.home-links {
    display: flex;
    gap: 25px;
}

.home-links li{
    list-style-type: none;
}

.home-links a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.home-links li:hover a{
    color: black;
    transition: 1s;
}

.banner {
    background-image: url(/assets/recepcao.png);
    width: 100%;
    height: calc(100vh - 79px);
    background-size: cover;
}

.banner-titulo-container {
    max-width: 1024px;
    height: calc(100vh - 79px);
    margin: 0 auto;
    display: flex;
    align-items: center;

}

.banner h1 {
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 40px;

    

}