footer {
    background-color: #0c6e71;
}

.rodape-container {
    max-width: 1024px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.rodape-container img {
    width: 200px;
}

.rodape-container p {
    color: white;
    font-size: 20px;
    padding-bottom: 20px;
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
    .rodape-container {
        padding: 25px;
    }

    .rodape-container img {
        width: 130px;
    }

    .rodape-container p {
        font-size: 16px;
    }
}

@media (max-width: 425px) {

}